:root {
    --strong-cyan: rgb(38, 186, 164);
    --light-blue: rgb(97, 115, 255);
    --dark-grayish-blue: rgb(76, 84, 93);
    --grayish-blue: rgb(158, 171, 179);
    /* background-color: rgb(245, 246, 248) */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bai Jamjuree',
        sans-serif;
    background-image: url(/images/bg-header-mobile.png);
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right top;




}

main {
    width: 100vw;
    padding: 0 1.9rem;
    text-align: center;
    font-size: 1.125rem;

}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

.hero {
    padding-top: 1.3rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

}


.logo {
    padding-top: 7.2rem;
    width: 9rem;
    height: auto;
}

.title-logo {
    padding-top: 4.6rem;
    font-size: 2.2rem;
    color: rgba(76, 84, 93, .9);
    font-weight: 800;
    line-height: 2.9rem;

}

.gray-text {
    color: rgba(158, 171, 179, .8);
    padding-top: 1.4rem;
    font-weight: 400;
    line-height: 1.7rem;
}

.buttons {
    display: flex;
    flex-direction: column;
    padding-top: 3.3rem;
    justify-content: center;
    gap: 1.8rem;
    text-align: center;
    outline-offset: 4px;
    width: 100%;
}






.ios {
    width: 100%;
    cursor: pointer;
    display: block;
    background: var(--strong-cyan);
    color: rgba(255, 255, 255, .8);
    padding: 1.1rem;
    font-size: 1.3rem;
    border-radius: 50px;
    border: 2.5px groove var(--strong-cyan);
    border-top: none;
    font-weight: 500;
    box-shadow: rgb(38 186 164 / 15%) -1px 13px 9px;
    transform: translateY(-6px);

}

.mac {
    width: 100%;
    cursor: pointer;
    background-color: var(--light-blue);
    color: rgba(255, 255, 255, .8);
    padding: 1.1rem;
    font-size: 1.3rem;
    border-radius: 50px;
    border: 2.5px groove var(--light-blue);
    border-top: none;
    font-weight: 500;
    box-shadow: rgb(97 115 255 / 15%) -1px 13px 9px;
    transform: translateY(-6px);
}

.pushable1:active {
    transform: translateY(-2px);
}

.pushable2:active {
    transform: translateY(-2px);
}

.info .info-title {
    padding-top: 10.7rem;
    font-size: 2.1rem;
    color: rgba(76, 84, 93, .9);
}

.info .gray-text {
    padding-top: 1.1rem;
    line-height: 1.8rem;
    padding-bottom: 4.5rem;
}

#quick {
    padding-top: 4rem;
    font-size: 1.8rem;
}

#easily {
    padding-top: .7rem;
    padding-bottom: 0;
}

#icloud {
    padding-top: 3.1rem;
    font-size: 1.8rem;
}

#instantly {
    padding-top: .7rem;
    padding-bottom: 0;

}

#complete {
    padding-top: 3.4rem;
    font-size: 1.8rem;
}

#retrieve {
    padding-top: .7rem;
    padding-bottom: 0;

}

.bottom {
    padding-top: 13.2rem;
}

.bottom-title {
    font-size: 1.9rem;
    color: rgba(76, 84, 93, .9);
}

#whether {
    padding-bottom: 4.4rem;
}

.bottom img {
    width: auto;
}

#supercharge {
    font-size: 1.9rem;
    color: rgba(76, 84, 93, .9);
    padding-top: 6.8rem;

}

#productivity {
    padding-top: 1rem;
}

.icons {
    padding-top: 6.3rem;
    display: flex;
    flex-direction: column;
    gap: 3.3rem;
}

.icons img {
    height: 2.8rem;
}

.icons-title {
    font-size: 1.6rem;
    padding-top: 2.9rem;
    color: rgba(76, 84, 93, .9);

}

p {
    color: rgba(158, 171, 179, .8);

}

.icons p {
    padding-top: 1.3rem;
    line-height: 1.9rem;
}

.brands {
    padding-top: 9rem;
    display: flex;
    flex-direction: column;
    gap: 4.4rem;
}

.end {
    padding-top: 12rem;
    color: rgba(76, 84, 93, .9);
}

.end-title {
    font-size: 1.9rem;
}

.end-text {
    padding-top: 1rem;
    line-height: 1.8rem;
    padding-bottom: 3.4rem;

}

.end .ios {
    margin-top: 1.6rem;
}

.end .mac {
    margin-top: 1.6rem;
    margin-bottom: 10rem;
}

.end .buttons {
    gap: 0;
}




.footer {
    width: 100%;
    padding-top: 3.2rem;
    background-color: rgb(245, 246, 248);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    color: rgba(94, 102, 110, 0.9);
    font-weight: 400;
}

.footer img {
    height: 4rem;
}

.footer-2 .footer-text {
    padding-bottom: 2rem;
    font-weight: 500;
}

.footer-2 {
    text-align: center;

}

.footer-icons {
    gap: 3rem;
    padding-bottom: 3.2rem;
    display: flex;
    background-color: rgb(245, 246, 248);
}

.footer-icons img {
    height: 1.5rem;
}

@media(min-width:950px) {
    body {
        background-image: url(/images/bg-header-desktop.png);
    }

    .logo {
        padding-top: 5.2rem;
        width: 6rem;

    }

    .title-logo {
        padding-top: 2.9rem;
        font-size: 2.2rem;
        color: rgb(76, 84, 93, );

    }

    .gray-text {
        font-size: 1rem;
        padding-top: .6rem;
        width: 45%;

    }

    .buttons {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        padding-top: 2.6rem;
        width: 40%
    }

    .ios {

        font-size: .9rem;
        font-weight: 700;


    }

    .mac {

        font-size: .9rem;
        font-weight: 700;


    }

    .info .info-title {
        padding-top: 9rem;
        font-size: 1.8rem;
        color: rgb(76, 84, 93);
    }

    .info .gray-text {

        margin-left: auto;
        margin-right: auto;
        padding-top: 1rem;
        line-height: 1.4rem;
        padding-bottom: 3rem;
        font-size: .9rem;
    }

    .sidebyside {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .left {
        flex-basis: 45%;
        margin-left: -5%;
    }

    .right {
        flex-basis: 30%;
        margin-right: 20%;
    }

    .items {
        text-align: start;
    }

    .items .gray-text {
        margin: 0;
        width: 100%;
        padding-top: .6rem;
    }

    #quick {
        font-size: 1.3rem;
        padding-top: 2rem;
    }

    #icloud {
        font-size: 1.3rem;
        padding-top: 2.5rem;
    }

    #complete {
        font-size: 1.3rem;
        padding-top: 2.5rem;
    }

    .bottom-title {
        font-size: 1.8rem;
    }

    .bottom .gray-text {
        width: 50%;
        text-align: center;
        margin-left: auto;
        margin-right: auto
    }

    .bottom img {
        width: 65%;
        height: auto;
    }

    #supercharge {
        font-size: 1.8rem;
        color: rgb(76, 84, 93);
        padding-top: 3.7rem;
    }

    #productivity {
        padding-top: .7rem;
        font-size: .9rem;
    }

    .icons {
        padding-top: 3.3rem;
        display: flex;
        flex-direction: row;
        gap: 2rem;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }

    .icons img {
        height: 2.2rem;
    }

    .icons-title {
        font-size: 1.2rem;
        padding-top: 1.9rem;

    }

    .icons p {
        margin-left: auto;
        margin-right: auto;
        font-size: .8rem;
        padding-top: .7rem;
        line-height: 1.5rem;
    }

    .brands {
        margin-left: auto;
        margin-right: auto;
        width: 85%;
        padding-top: 7rem;
        display: flex;
        flex-direction: row;
        gap: 3rem;
    }

    .brands img {
        width: 6.5rem;
    }

    .end {
        padding-top: 6.5rem;
    }

    .end-title {
        font-size: 1.8rem;
    }

    .end-text {
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        padding-top: .7rem;
        line-height: 1.2rem;
        padding-bottom: 0;
        font-size: .9rem;
    }

    .end .buttons {
        height: 5rem;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        padding-top: 3.5rem;
        padding-bottom: 9rem;
        max-width: 40%;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 1rem;
    }

    .end .mac {
        margin-bottom: 0;
    }

    .desktop-footer {
        display: flex;
        flex-direction: column;
    }

    .footer {
        flex-direction: row;

        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .footer-1 {
        flex-basis: 20%;
        padding-left: 7rem;

    }

    .footer-2 {
        flex-basis: 50%;
        display: flex;
        column-gap: 7rem;
        padding-left: 3rem;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding-top: 1rem;
    }

    .footer-2 .footer-text {
        font-size: .9rem;
        padding-bottom: 1rem
    }

    .footer-icons {
        padding-right: 5rem;
        padding-left: 5rem;
        flex-basis: 30%;
        gap: 0;
        display: flex;
        padding-bottom: 0;
    }



}